<%= render "layouts/header" %>
<%= yield %>

<div class="page-main">
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "component" %>
  <%= javascript_include_tag "application"%>

  <div class="page-section">
     <legend class="form-heading heading"> Edit Profile </legend>
<%= form_for(@project_member) do |f| %>
    <% if @project_member.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @project_member.errors.full_messages.each do |msg| %>
          <li><font color=red><%= msg %></font></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <p>
      <div class="form-field">
        <%= f.text_field :name, class: "form-input"%>
        <label class="form-label" for="first-name">Name</label>
      </div>
    </p>
    
    <p>
     <div class="form-field">
      <%= f.text_field :role, class: "form-input" %>
      <label class="form-label" for="last-name">Role</label>
      </div>
    </p>

    <p>
     <div class="form-field">
      <%= f.text_field :img_url, class: "form-input" %>
      <label class="form-label" for="address">Img url</label>
      </div>
    </p>
    
    <p>
    <div class="form-actions">
      <%= f.submit "SUBMIT", class: "button--stroke--long" %>
      </div>
    </p>
    <% end %>

    <p>
    <div class="form-actions">
    <%= link_to 'BACK', "../../project_members/index" %>
    </div>
    </p>
  </div>
</div>

<%= render "layouts/footer" %>
<%= yield %>