<%= render "layouts/header" %>
<%= yield %>

<div class="page-main">
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "component" %>
  <%= javascript_include_tag "application"%>

  <div class="page-section">
     <legend class="form-heading heading"> Edit Project Milestones </legend>
  	<%= form_for(@project_milestone) do |f| %>
    <% if @project_milestone.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @project_milestone.errors.full_messages.each do |msg| %>
          <li><font color=red><%= msg %></font></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <p>
	  <div class="form-field">
		<%= f.text_field :name, class: "form-input", placeholder: "Milestone Name" %>
		<label class="form-label" for="first-name">Name</label>
  	  </div>
	</p>
         
	<p>
	  <div class="form-field">
		<%= f.date_select :start_date, class: "form-input", placeholder: "Start Date" %>
		<label class="form-label" for="last-name">Start Date</label>	
	  </div>
	</p>
      
	<p>
	  <div class="form-field">
		  <%= f.date_select :end_date, class: "form-input", placeholder: "End Date"  %>
		  <label class="form-label" for="email">End Date</label>
	  </div>
	</p>

	<p>
	  <div class="form-field">
		<%= f.text_field :amount_raised, class: "form-input", placeholder: "Amount Raised" %>
		<label class="form-label" for="password">Amount Raised</label>
	  </div>
	</p>

	<p>
 	  <div class="form-field">
		<%= f.text_field :target_amount, class: "form-input", placeholder: "Target Amount"  %> 
		<label class="form-label" for="password">Target Amount</label>       
	  </div>
	</p>
	
	<p>
	  <div class="form-actions">
      <%= f.submit "SUBMIT", class: "button--stroke--long" %>
      </div>
    </p>

    <% end %>

    <p>
    <div class="form-actions">
		<%= link_to 'BACK', "../../project_milestones/index" %>
    </div>
    </p>
  </div>
</div>

<%= render "layouts/footer" %>
<%= yield %>